<div class="container">
  <div class="col-md-6">
    <h4>Pass Along an Invitation</h4>
  <p>
  This community can only grow when members invite new users. Please take a moment and invite someone you know.
  </p>
  </div>

  <%= render :partial => "users/invitationform",
    :locals => { :return_home => true } %>
<br>or<br>
<%= button_to "Skip", "/", :method => :get, :class => "btn btn-default" %>
  </div>
</div>
</div>
