<div class="container">
	<div class="col-xs-8 about">

	<h2 class="center">About</h2>

<p dir="ltr">
The UpTrade is where good traders, analysts, bloggers, and investors rank and discuss the most interesting topics in finance. 
</p>

<h3 class="center">What to submit?</h3>

<p dir="ltr">
<strong>Good submissions:</strong> links to trade ideas, thoughtful research/analysis, interesting projects, and good questions are a few examples. More generally, anything you find intellectually stimulating. 
</p>

<p>
<strong>Bad submissions:</strong> links to breaking news, shortsighted analysis, thoughtless questions, 'gut' feel trade ideas. If you think there might be a chance your submission is of poor quality, it probably is.  Users are encouraged to <strong>flag</strong> bad content, if you submit enough bad links you will lose the privledge to submit. 
</p>

<h3 class="center">How does ranking work?</h3>
<p dir="ltr">
	The UpTrade currently ranks submissions by <strong>Buzz</strong>: 
	<p><strong>Buzz</strong> = (user-coefficient*(comments+upvotes+downvotes+clicks))/(decay factor*)
	<small>*currently 1 point/hr</small></p>
	</p>

<p>
<strong>Upvotes:</strong> When users like and agree with your submission, they upvote it. </p>
<p><strong>Downvotes:</strong> When users don't like or disagree with your submission, they downvote it. </p>
<p><strong>Flag:</strong> When users don't think your link is relevant, is really bad, spammy, or off-base in anyway, they flag it. Moderators review all flags and determine whether or not to remove the story. </p>
</p>

<h3 class="center">Who's behind The UpTrade and why?</h3>
<p><a href="http://www.theuptrade.com/u/Chris">Chris</a> built The UpTrade to make it easier to discover and share good content in the realm of finance. The UpTrade leverages its community to surface the best content, and come to a consensus view (where possible) on a particular piece of content via community voting. The UpTrade takes inspiration from Product Hunt, <a href="http//:www.reddit.com">Reddit</a>, <a href="http://www.hotmail.com">Hacker News</a>, and <a href="http://lobste.rs">Lobste.rs</a>. The source code for The UpTrade can be seen at xxxxxx, and borrows much of the source code from Lobste.rs (Thanks!). </p>

<h3 class="center">FAQ</h3>
	<p>How did you decide on the <strong> Buzz </strong> ranking method? 
		<p style="padding-left: 15px">Other similar websites rank their content based on the 'most liked' criteria. The current ranking mechanism for The UpTrade is a little different, it is desiged to rank links based on how much web-traffic that link is experiencing by counting total votes + comments + clicks. As a separate measure, a links polarity is displayed, this is intended to give a quick indication of whether users agree or disagree with the research. This is an important distinction because financial research/trade ideas can be good and thoughful, however you can still disagree with the analysis.  </p>
	<p>What are<strong> Tags </strong> and how do they work?</p> 
		<p style="padding-left: 15px">When links are submitted, they must contain at least one tag. Tags are used to categorize content, you can click on a tag to view all the stories that are under that topic. Use tags like you would Twitter hashtags. Right now users are able to create their own tags, but to enforce some rigidity and to avoid from different threads being created for snytax differences, we may enforce certain tags. I.e. to avoid the situation where EURUSD is a tag, and EUR/USD is a tag.</p>

<h3 class="center">Contact</h3>
<p>Any questions or concerns, please contact chris@theuptrade.com. If you're looking for an invite to submit content, please request an invite through the <a href="/login">login</a> page. 
<br>
<br>
<br>
<br>
<br>
<br>
<br>

</div>
</div>