<div class="container">

  <div class="col-md-6">
    <h4>Reset Password</h4>
  

  <p>
  If you've forgotten your password, enter your e-mail address or username
  below and instructions will be e-mailed to you.
  </p>

  <%= form_tag reset_password_url do %>
    <%= label_tag :email, "E-mail or Username:" %>
    <%= text_field_tag :email, "", :size => 30, :class => "form-control" %>
    <br />

    <p>
    <%= submit_tag "Reset Password", :class => "btn btn-default" %>
    </p>
  <% end %>
  </div>
</div>
