.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 0px;
  padding-right: 0px;
}

.uvote {
  font-size: 10px;
  line-height: 0.3;
  background-color: #7cda94;
}

.dvote {
  font-size: 10px;
  line-height: 0.3;
  background-color: #d7552d;
}