

<footer class="footer">
<div class="container">
      <span class="pull-right" style="text-align: right">
      <!--<a href="/moderations" id="footer-color">Moderation</a>
        |      NEED TO ENABLE MOD ROUTE TO USE-->
        <% if @user && !@user.is_new? &&
        (iqc = InvitationRequest.verified_count) > 0 %>
        <a href="/invitations"id="footer-color">Invitation Queue (<%= iqc %>)</a>
        <% end %>
        <a href="/privacy"id="footer-color">Privacy</a>
        |
        <a href="/about"id="footer-color">About</a>
        |     
      </span>
    </div>
</footer>